<h3 class="findio-example-table-header">

	Findio financieringsmogelijkheden

</h3>

<table class="findio-example-table">
	<thead>
		<tr>
			<th>Aankoop&shy;bedrag</th>
			<th>Aanbetaling</th>
			<th>Totaal kredietbedrag</th>
			<th>Maandtermijn</th>
			<th>Rentepercentage (vast) *</th>
			<th>Duur overeenkomst</th>
			<th>Totaal te betalen bedrag</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>&euro; {{totalAmount}}</td>
			<td>&euro; 0,00</td>
			<td>&euro; {{totalAmount}}</td>
			<td>&euro; {{termPayment-12}}</td>
			<td>{{effectiveAnnualRate-12}}% per jaar</td>
			<td>12 maanden</td>
			<td>&euro; {{totalCosts-12}}</td>
		</tr>
		<tr>
			<td>&euro; {{totalAmount}}</td>
			<td>&euro; 0,00</td>
			<td>&euro; {{totalAmount}}</td>
			<td>&euro; {{termPayment-24}}</td>
			<td>{{effectiveAnnualRate-24}}% per jaar</td>
			<td>24 maanden</td>
			<td>&euro; {{totalCosts-24}}</td>
		</tr>
		<tr>
			<td>&euro; {{totalAmount}}</td>
			<td>&euro; 0,00</td>
			<td>&euro; {{totalAmount}}</td>
			<td>&euro; {{termPayment-60}}</td>
			<td>{{effectiveAnnualRate-60}}% per jaar</td>
			<td>60 maanden</td>
			<td>&euro; {{totalCosts-60}}</td>
		</tr>
	</tbody>
</table>

<p class="findio-example-description">* Het jaarlijks kostenpercentage is een prijsaanduiding voor het krediet. Hierin komen alle kosten van het krediet tot uitdrukking.<br/><br/>De gegevens in de tabel zijn voorbeelden. Wij zijn hierbij uitgegaan van het laagste rentetarief. Dit tarief kan wijzigen en is afhankelijk van je persoonlijke situatie. Aan deze voorbeelden kun je geen rechten ontlenen. Als je een offerte aanvraagt, worden deze gegevens gebaseerd op je persoonlijke situatie. Je ontvangt dan ook de Europese standaardinformatie inzake consumentenkrediet (ESIC).</p>
