<div class="findio-cart-wrapper">

    <div id="findio-banner">

        <img src="{{findiobanner}}" id="findio-banner-image" />

    </div>

    <div class="findio-cart-inner">

		<img src="{{findiologo}}" />

		<div class="findio-offer-table">

            <div class="table-block">
			    <label for="durationInMonths">Looptijd</label>
                <span id="durationInMonths">{{durationInMonths}} mnd</span>
            </div>

            <div class="table-block">
                <label for="termPayment">Maandtermijn</label>
			    <span id="termPayment">&euro; {{termPayment}}</span>
            </div>

		</div>

    </div>

</div>
