<div id="findio-wrapper" class="findio-single">

    <div id="findio-offer">

        <img src="{{findiologo}}" id="findio-logo" width="62" height="20" />

        <div class="findio-offer-table">

            <div class="table-block">
                <label for="durationInMonths">Looptijd</label>
                <span id="durationInMonths">{{durationInMonths}} mnd</span>
            </div>

            <div class="table-block">
                <label for="termPayment">Maandtermijn</label>
                <span id="termPayment">&euro; {{termPayment}}</span>
            </div>

        </div>

        <!--
        <label class="findio-shortcode-label">

            Betaal in <span class="findio-shortcode-duration">{{durationInMonths}}</span> termijnen

        </label>

        <span class="findio-shortcode-price">

        	<span class="findio-shortcode-amount">

        	       &euro; {{termPayment}}

        	</span>

        	<label>per maand</label>

        </span>
        -->

        <div id="findio-banner">

            <img src="{{findiobanner}}" id="findio-banner-image" />

        </div>

    </div>

</div>
