<div id="findio-wrapper" class="payment_box payment_method_bfg_gateway">
    
    <div id="findio-offer">

        <img src="{{findiologo}}" id="findio-logo" width="62" height="20" />

        <div class="findio-offer-table">

            <label for="loanAmount">Leenbedrag</label>
            <span id="loanAmount">&euro; {{loanAmount}}</span>

            <label for="termPayment">Maandtermijn</label>
            <span id="termPayment">&euro; {{termPayment}}</span>

            <label for="durationInMonths">Looptijd</label>
            <span id="durationInMonths">{{durationInMonths}} mnd</span>

            <label for="effectiveAnnualRate">Rente vanaf</label>
            <span id="effectiveAnnualRate">{{effectiveAnnualRate}}%</span>

            <label for="totalCosts">Totaal</label>
            <span id="totalCosts">&euro; {{totalCosts}}</span>

        </div>

        <div id="findio-banner">

            <img src="{{findiobanner}}" id="findio-banner-image" />

        </div>

    </div>

</div>
