<div id="findio-shortcode">

    <label class="findio-shortcode-label">

        Betaal in <span class="findio-shortcode-duration">{{durationInMonths}}</span> termijnen met <span style="color:#76397c;">Findio</span>

    </label>

    <span class="findio-shortcode-price">

    	<span class="findio-shortcode-amount">

    	       &euro; {{termPayment}} &nbsp;

    	</span>

    	<label>per maand</label>

    </span>

    <div id="findio-banner">

        <img src="{{findiobanner}}" id="findio-banner-image" />

    </div>

</div>
